/*
---------------------------------------------------------------------------
  PROJECT: 	Adium Message Style

FILE NAME: 	CampFire.AdiumMessageStyle    

     NAME: 	CampFire
           	[http://github.com/watsonian/campfire-adium-message-style/zipball/master]

 DESIGNER: 	Joel Watson [http://github.com/watsonian/campfire-adium-message-style/]

  CREATED: 	2009.12.21 [first local version]

REVISIONS: 	

     TODO: 	

 BASED ON: 	Campfire theme from http://campfirenow.com/
---------------------------------------------------------------------------*/
.clear { clear: both; }

body
{
	margin: 4px 0 5px 0;
	color: #4b4b4b;
	background-color: white;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-size: 0.8em;
	padding: 0px 1px 1px 1px;
}

.container.status
{
	border-top: 1px solid white;
	background-color: #d9e7fb;
	padding: 4px 0 4px 0;
}

.container.status.offline, .container.status.away, .container.status.away_message
{
	background-color: #f8decc;
}

.container.status.online, .container.status.return_away
{
	background-color: #d7f8d3;
}

.container.status .time
{
	display: block;
	min-width: 100px;
	text-align: right;
	float: left;
}

.container.status .message
{
	padding: 0 0 0 4px;
}

.container .sender
{
	display: block;
	padding: 4px 4px 0 0;;
	min-width: 100px;
	font-weight: bold;
	text-align: right;
	float: left;
}

.container.initial .sender
{
	border-top: 1px solid white;
}

.container.initial .message
{
	border-top: 1px solid white;
}

.container.next .sender
{
	display: none;
}

div:hover.container .message .time
{
	display: inline;
}

div.container .message .time
{
	display: none;
	padding: 2px 0 0 4px;
	font-weight: bold;
	font-size: 0.8em;
}

.container.outgoing .message, .container.incoming .message
{
	display: block;
	padding: 4px;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #efefef;
}

.container.incoming .message
{
	background-color: white;
}

.container.outgoing
{
	background-color: #ffffcc;
}

.container.incoming
{
	background-color: #efefef;
}

.container.next .message, .container.initial .message
{
	padding-top: 3px;
	diplay: block;
	margin-left: 105px;
}

.context
{
	opacity: .6;
}

img.scaledToFitImage{ width:auto; }